<br>

<h2>Nuestra Historia</h2>

<br>

<p>Presente en 12 países de América Latina y en Portugal, Mercado Libre es la empresa de tecnología líder en e-commerce
    en el continente. De acuerdo con estimativas de la empresa, datadas de diciembre de 2014, más de 120 millones de
    usuarios están registrados en América Latina y más de 2,2 mil empleados trabajan para el 10º web de comercio
    electrónico más visitada en el mundo (datos de comScore Networks).
</p>

<br>

<p>La web comercializa más de dos mil categorías de productos nuevos, seminuevos y usados, entre las cuales se destacan
    los segmentos electrónicos, vestuario, entretenimiento y productos de colección. Otros números ayudan a ilustrar la
    importancia del Mercado Libre para el e-commerce en América Latina: son más de dos mil búsquedas por segundo en la
    web, mientras 2,5 ventas son concretizadas en el mismo periodo.
</p>



<h2>De Stanford a Nasdaq: la historia del Mercado Libre</h2>
<br>
<p>El Mercado Libre fue fundado en 1999, por el empresario argentino Marcos Galperín. El plan de negocios de la empresa
    fue escrito aún cuando Galperín trabajaba para obtener el diploma MBA en la escuela de negocios de la Universidad de
    Stanford. En esa época, comenzó a montar un equipo de profesionales para colocar la web en práctica.
</p>

<p>En el mismo año, la plataforma se expandió en otros tres países además de Argentina: Uruguay, México y Brasil. En
    2000, más cuatro países fueron incorporados en el Mercado Libre en América Latina: Ecuador, Chile, Venezuela y
    Colombia y más recientemente Perú.</p>

<p>Aún en ese año, el Mercado Libre recibió más de US$ 46 millones de dólares de inversión de diversos grupos
    financieros, que se sumaron a los casi US$ 8 millones alcanzados en 1999, en dos negociaciones de financiación. El
    año 2000 también fue marcado por el estallido de la burbuja de Internet (lea más adelante sobre esto), pero el
    Mercado Libre consiguió sobrevivir al periodo difícil para Internet.</p>

<p>En octubre de 2001, firmamos un acuerdo estratégico exclusivo con eBay mediante el cual eBay se convirtió en el
    principal accionista de la compañía y ambas pasaron a ser socias para todo el continente. Dos años después, surgió
    el Mercado Pago, una herramienta segura de pago tanto para uso de personas físicas como por personas jurídicas. El
    Mercado Pago también es uno de los principales concurrentes del PayPal.</p>

<p>En el año de 2007, la empresa abrió capital en Nasdaq, el mercado de acciones de Estados Unidos, dedicado
    principalmente a empresas de tecnología. Esto permitió la inversión de interesados en obtener acciones del Mercado
    Libre.</p>

<p>En la entrevista al diario La Nación, en 2012, el CEO de la empresa, Marcos Galperín, habló de la importancia de esa
    acción para la empresa.</p>

<p>“Somos la única empresa tecnológica de Argentina que cotiza en Nasdaq. El valor de la transacción en Mercado Libre
    es 3 veces todo el Merval porteño junto” destacó, resaltando también la importancia de colocar el país
    latinoamericano en el mapa de las inversiones de tecnología.
</p>

<br>

<h2>Mercado Libre fue uno de los supervivientes de la Burbuja de Internet</h2>

<br>

<p>En el inicio de los años 2000, el mercado de la tecnología vivió la Burbuja de Internet. La crisis, ocurrida en
    Nasdaq,
    ocurrió en función de la especulación de empresas de Internet, que subieron astronómicamente por encima de la tasa
    de
    mercado, para después caer en la misma proporción, lo que llevó a muchas compañías a la quiebra. En materia especial
    sobre los 15 años de la burbuja, la revista Time afirmó que, en menos de un mes, más de US$ 1 mil millones en
    acciones
    habían desaparecido completamente de Nasdaq.
</p>

<br>

<p>En la entrevista al diario La Nación, Galperín clasificó el periodo de la burbuja de Internet como la más dura de la
    historia de la empresa, pues estuvo casi a punto de cerrar. De acuerdo con el CEO del Mercado Libre, había una
    medición
    constante de cuánto efectivo se gastaba por mes (burnrate, en la jerga) para ver cuánto tiempo de vida quedaba. Era
    terrible ese momento, declaró.
</p>

<br>

<p>Según él, llevó seis años para que la empresa superara la crisis instaurada con la burbuja de la internet – un precio
    pequeño a pagarse, llevando en cuenta que muchas empresas.com cerraron las puertas después de la crisis. “Nosotros
    vimos
    que podríamos resolver el problema porque el negocio era sustentable”, explicó Galperín.
</p>