@model Libro

@await Html.PartialAsync("_VistaParcial",Model)

<br>

<h4>Informacion del Libro</h4>

<br>

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"> @Model.Titulo </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Precio $</h5>
        <p class="card-text">Autor: @Model.Autor <br>
            @Model.Categoria
        </p>
    </div>
</div>
